@import url(../fonts/stylesheet.css);
@import url(./notyf.min.css);

:root {
    --colorBackground: #282836;
    --colorCardBG: #3E3E4D;
    --colorElementBG: #4e4e5f;
    --colorElementBGLight: #656579;
    --colorSecondary: #928F8F;
    --colorSecondaryHover: #acacac;
    --colorPrimary: #CD8B89;
    --colorPrimaryHover: #EEA2A0;
    --colorText: #FFFFFF;
    --colorSuccessBG: #e5f9f1;
    --colorSuccess: #02c076;
    --colorError: #FD8282;
    --colorWarning: #FDCE82;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
	font-family: 'Rubik';
	font-weight: normal;
	font-style: normal;
    background-color: var(--colorBackground);
    color: var(--colorText);
}

input,
button,
textarea,
select,
a {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn.is-loading {
    cursor: wait;
}

.btn img {
    height: 40px;
    margin: 0 auto;
}

.btn-primary {
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background-color: var(--colorPrimary);
    color: var(--colorText);
    padding: 0 20px;
    font-size: 14px;
}
.btn-primary:hover {
    background-color: var(--colorPrimaryHover);
}
.btn-primary.btn-lg {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    font-size: 18px;
}

.btn-secondary {
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background-color: var(--colorSecondary);
    color: var(--colorText);
    padding: 0 20px;
    font-size: 14px;
}
.btn-secondary:hover {
    background-color: var(--colorSecondaryHover);
}
.btn-secondary.btn-lg {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    font-size: 18px;
}

.btn-primary.disabled {
    background-color: var(--colorPrimary) !important;
}
.btn-secondary.disabled {
    background-color: var(--colorSecondary) !important;
}
.btn-primary.disabled,
.btn-secondary.disabled {
    opacity: .2;
    cursor: not-allowed;
}


.btn-swap,
.btn-dropdown,
.btn-add {
    display: block;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.btn-dropdown {
    width: 20px;
    height: 20px;
    background: url(../img/arrow-down.svg) no-repeat center;
    background-color: var(--colorPrimary);
    background-size: 12px;
}
.btn-dropdown:hover {
    background-color: var(--colorPrimaryHover);
}

.btn-swap {
    width: 40px;
    height: 40px;
    background: url(../img/swap.svg) no-repeat center;
    background-color: var(--colorSecondary);
    background-size: 20px;
}
.btn-swap:hover {
    background-color: var(--colorSecondaryHover);
}

.btn-add {
    width: 20px;
    height: 20px;
    background: url(../img/plus.svg) no-repeat center;
    background-color: var(--colorPrimary);
    background-size: 11px;
}
.btn-add:hover {
    background-color: var(--colorPrimaryHover);
}

.btn-link {
    text-transform: uppercase;
    color: var(--colorText);
    background-color: var(--colorPrimary);
    height: 20px;
    line-height: 21px;
    border-radius: 10px;
    padding: 0 8px;
    font-size: 10px;
    font-weight: bold;
}
.btn-link:hover {
    background-color: var(--colorPrimaryHover);
}

.btn-icon {
    display: block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: auto;
    cursor: pointer;
}
.btn-icon.info {
    background-image: url(../img/info-icon.svg);
}
.btn-icon.close {
    background-image: url(../img/close-icon.svg);
}


.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px  10px 10px 20px;
    border: solid 1px var(--colorSecondary);
    border-radius: 21px;
    background-color: var(--colorElementBG);
    margin-bottom: 5px;
    font-size: 18px;
    color: #ffffff;
}
.form-control.invalid {
    border-color: var(--colorError);
}




.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-justify {
    text-align: justify !important;
}

.text-error {
    color: var(--colorError);
    font-size: 12px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 100vh;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.web3modal-modal-lightbox {
    z-index: 99 !important;
}
.web3modal-modal-card {
    background-color: var(--colorBackground) !important;
}
.web3modal-provider-container {
    background-color: var(--colorCardBG) !important;
}
.web3modal-provider-container:hover {
    background-color: var(--colorElementBG) !important;
}
.web3modal-provider-name {
    color: var(--colorText) !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    font-size: 18px !important;
}
.web3modal-provider-description {
    color: var(--colorSecondary) !important;
    font-size: 14px !important;
}
.web3modal-provider-wrapper {
    border: solid 1px var(--colorCardBG) !important;
}
.web3modal-provider-wrapper:first-child {
    border-bottom: none !important;
}